//21130035_Nguyễn_Ngọc_Khánh_Duy_0839151003

$blackColor: #000000;
$whiteColor: #ffffff;

* {
  box-sizing: border-box;
  font-family: Tahoma, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.container {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  background-color: #1d3854;
  padding: 10px;

  .navigate {
    text-align: center;
    height: 60px;
    line-height: 60px;
    position: relative;
    color: $whiteColor;

    .question {
      width: 25px;
      height: 25px;
      position: absolute;
      top: 5px;
      right: 10px;
      cursor: pointer;
      transition: all 0.25s ease-in;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  .main {
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(100% - 60px);
    text-align: center;

    .wrapper {
      width: 50%;
      height: 100%;
      padding: 40px;

      .param {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $whiteColor;

        .time{
          width: 50%;
          display: none;
        }

        .score{
          width: 50%;
          height: 50px;
          margin-bottom: 40px;

          #myScore {
            display: block;
            margin-top: 10px;
          }
        }
      }


      .level {
        border: 2px solid #05013e;
        background-color: $whiteColor;
        padding: 20px;
        border-radius: 4px;

        &__title {
          margin-bottom: 10px;
        }

        .box {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
        }

        &__item {
          width: 150px;
          list-style: none;
          height: 40px;
          line-height: 40px;
          color: $whiteColor;
          background-color: $blackColor;
          margin: 20px 10px;
          border-radius: 4px;
          border: 1px solid $blackColor;
          cursor: pointer;
          transition: all 0.25s ease-in;

          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
}


.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);

  .modal-container{
    background-color: $whiteColor;
    text-align: center;
    border-radius: 4px;
    border: 1px solid $blackColor;
    padding: 40px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    gap: 40px;

    .wrapper{
      display: flex;
      //margin: 40px 0;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }

    .close {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 16px;
      right: 16px;
      cursor: pointer;
      transition: all 0.25s ease-in;

      &:hover {
        opacity: 0.5;
      }
    }

    h2 {
      font-size: 30px;
    }

    h3 {
      margin: 40px 0;
      font-weight: 400;
    }

    button {
      width: 150px;
      height: 40px;
      font-size: 20px;
      //margin-top: 40px;
      color: $whiteColor;
      background-color: $blackColor;
      border-radius: 4px ;
      cursor: pointer;
      transition: all 0.25s ease-in;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.modal-close {
  .modal-container {
    //width: 400px;
    //height: 300px;
  }
}

.modal-play {
  .modal-container {
    .wrapper {
      margin: 0;
      .video {
        width: 50%;
      }

      .desc {
        width: 50%;
        h3 {
          margin-top: 0;
          font-size: 20px;
          font-weight: 600;
        }
      }

      ul {
        padding-left: 20px;

        li{
          text-align: left;
          margin: 20px 0;
          font-size: 18px;

          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }

    .arrow {
      position: absolute;
      top: 50%;
      width: 50px;
      cursor: pointer;
      transition: all 0.25s ease-in;

      &:hover {
        opacity: 0.7;
      }
    }

    #next {
      right: 0;
      transform: translateX(50%);
    }

    #previous {
      left: 0;
      transform: translateX(-50%);
    }

  }
}

.modal-question {
  .modal-container {
    .wrapper {
      flex-direction: column;
    }

    button {
      width: 200px;
      height: 50px;
    }
  }
}

.modal-info {
  .modal-container {
    background: url("./assets/logo.jpg") top 10px right 10px / 80px no-repeat #fff;

    ul {
      text-align: left;
      text-shadow: 0 0 5px #fff;

      li{
        list-style: none;
        margin: 20px 0;
        font-size: 18px;
      }
    }
  }
}



