* {
  box-sizing: border-box;
  font-family: Tahoma, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.container {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  background-color: #1d3854;
  padding: 10px;
}
.container .navigate {
  text-align: center;
  height: 60px;
  line-height: 60px;
  position: relative;
  color: #ffffff;
}
.container .navigate .question {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  transition: all 0.25s ease-in;
}
.container .navigate .question:hover {
  opacity: 0.5;
}
.container .main {
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(100% - 60px);
  text-align: center;
}
.container .main .wrapper {
  width: 50%;
  height: 100%;
  padding: 40px;
}
.container .main .wrapper .param {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.container .main .wrapper .param .time {
  width: 50%;
  display: none;
}
.container .main .wrapper .param .score {
  width: 50%;
  height: 50px;
  margin-bottom: 40px;
}
.container .main .wrapper .param .score #myScore {
  display: block;
  margin-top: 10px;
}
.container .main .wrapper .level {
  border: 2px solid #05013e;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 4px;
}
.container .main .wrapper .level__title {
  margin-bottom: 10px;
}
.container .main .wrapper .level .box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.container .main .wrapper .level__item {
  width: 150px;
  list-style: none;
  height: 40px;
  line-height: 40px;
  color: #ffffff;
  background-color: #000000;
  margin: 20px 10px;
  border-radius: 4px;
  border: 1px solid #000000;
  cursor: pointer;
  transition: all 0.25s ease-in;
}
.container .main .wrapper .level__item:hover {
  opacity: 0.5;
}

.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal .modal-container {
  background-color: #ffffff;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #000000;
  padding: 40px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  gap: 40px;
}
.modal .modal-container .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.modal .modal-container .close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  transition: all 0.25s ease-in;
}
.modal .modal-container .close:hover {
  opacity: 0.5;
}
.modal .modal-container h2 {
  font-size: 30px;
}
.modal .modal-container h3 {
  margin: 40px 0;
  font-weight: 400;
}
.modal .modal-container button {
  width: 150px;
  height: 40px;
  font-size: 20px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.25s ease-in;
}
.modal .modal-container button:hover {
  opacity: 0.5;
}

.modal-play .modal-container .wrapper {
  margin: 0;
}
.modal-play .modal-container .wrapper .video {
  width: 50%;
}
.modal-play .modal-container .wrapper .desc {
  width: 50%;
}
.modal-play .modal-container .wrapper .desc h3 {
  margin-top: 0;
  font-size: 20px;
  font-weight: 600;
}
.modal-play .modal-container .wrapper ul {
  padding-left: 20px;
}
.modal-play .modal-container .wrapper ul li {
  text-align: left;
  margin: 20px 0;
  font-size: 18px;
}
.modal-play .modal-container .wrapper ul li img {
  width: 30px;
  height: 30px;
}
.modal-play .modal-container .arrow {
  position: absolute;
  top: 50%;
  width: 50px;
  cursor: pointer;
  transition: all 0.25s ease-in;
}
.modal-play .modal-container .arrow:hover {
  opacity: 0.7;
}
.modal-play .modal-container #next {
  right: 0;
  transform: translateX(50%);
}
.modal-play .modal-container #previous {
  left: 0;
  transform: translateX(-50%);
}

.modal-question .modal-container .wrapper {
  flex-direction: column;
}
.modal-question .modal-container button {
  width: 200px;
  height: 50px;
}

.modal-info .modal-container {
  background: url("./assets/logo.jpg") top 10px right 10px/80px no-repeat #fff;
}
.modal-info .modal-container ul {
  text-align: left;
  text-shadow: 0 0 5px #fff;
}
.modal-info .modal-container ul li {
  list-style: none;
  margin: 20px 0;
  font-size: 18px;
}

/*# sourceMappingURL=style.css.map */
